# Config for c2slte

CONFIG_MODEL_C2SLTE=y

# NFC
# CONFIG_SEC_NFC is not set
# CONFIG_ESE_P3_LSI is not set
# CONFIG_ESE_COLDRESET is not set
CONFIG_NFC_PN547=y
CONFIG_NFC_FEATURE_SN100U=y
CONFIG_NFC_PN547_ESE_SUPPORT=y

# Touchscreen
# CONFIG_TOUCHSCREEN_SEC_TS_Y79A is not set
CONFIG_TOUCHSCREEN_SEC_TS_Y79A_C=y

# SPen
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9020=y

# Camera
# CONFIG_SENSOR_RETENTION_USE is not set
# CONFIG_CAMERA_HST_V01 is not set
# CONFIG_CAMERA_CIS_GW2_OBJ is not set
# CONFIG_CAMERA_CIS_2LA_OBJ is not set
# CONFIG_CAMERA_CIS_2LD_OBJ is not set
CONFIG_CAMERA_CNT_V02=y
CONFIG_USE_OIS_TAMODE_CONTROL=y
CONFIG_CAMERA_CIS_3M5_OBJ=y
CONFIG_CAMERA_CIS_2L3_OBJ=y
CONFIG_CAMERA_CIS_HM1_OBJ=y
CONFIG_CAMERA_LASER_AF_VL53L5_OBJ=y

# Display
# CONFIG_DECON_BTS_VRR_ASYNC is not set
# CONFIG_SUPPORT_HMD is not set
# CONFIG_SUPPORT_DIM_FLASH is not set
# CONFIG_PANEL_BACKLIGHT_PAC_3_0 is not set
CONFIG_SUPPORT_GM2_FLASH=y
# CONFIG_PANEL_VRR_BRIDGE is not set
# CONFIG_EXYNOS_DECON_LCD_S6E3HAB is not set
CONFIG_EXYNOS_DECON_LCD_S6E3HAC=y
CONFIG_SUPPORT_ERRFG_RECOVERY=y
CONFIG_DECON_VRR_MODULATION=y
# CONFIG_ONEUI7_WORKAROUND is not set

# Wireless Charging
CONFIG_WIRELESS_CHARGER_HAL_MFC=y
CONFIG_WIRELESS_CHARGER_MFC_S2MIW04=y

# Sensors
# CONFIG_SENSORS_SSP_LSM6DSO is not set
# CONFIG_SENSORS_SSP_MAGNETIC_COMMON is not set
# CONFIG_SENSORS_SSP_LPS22H is not set
CONFIG_SENSORS_DYNAMIC_SENSORLIST=y
# CONFIG_SENSORS_SSP_TMD4907 is not set
# CONFIG_SENSORS_SSP_PROX_AUTOCAL_AMS is not set
# CONFIG_SENSORS_SSP_LIGHT_COLORID is not set
CONFIG_SENSORS_A96T3X6=y
CONFIG_SENSORS_FW_VENDOR=y
CONFIG_SENSORS_A96T365IF=y
CONFIG_SENSORS_A96T3X6_CRC_CHECK=y
CONFIG_SENSORS_A96T3X6_BLOCK_SAR_ONLY=y
CONFIG_SENSORS_ICM42632M=y
CONFIG_SENSORS_LSM6DSO=y
CONFIG_SENSORS_TMD4907=y
CONFIG_SENSORS_STK31610=y
CONFIG_SENSORS_AK09918C=y
CONFIG_SENSORS_LPS22H=y
CONFIG_SENSORS_LPS25H=y

# CONFIG_SENSORS_SSP_PICASSO is not set
CONFIG_SENSORS_SSP_CANVAS=y
CONFIG_SENSORS_VL53L5=y
CONFIG_SENSORS_VL53L5_C2=y
CONFIG_SENSORS_VL53L5_SUPPORT_UAPI=y
CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE=y

# Misc
CONFIG_WLAN_BCM4375_ADVANCED_FEATURES=y
CONFIG_SEC_NAD_API=y
CONFIG_NAD_55=y
CONFIG_SEC_NAD_PMIC=y
CONFIG_SEC_SUPPORT_MOTTOTEST_WITH_ACT=y
CONFIG_SEC_BPS_INFO_ADD=y
